@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    background-color: black;
    display: flex;
    color: white;
    font-family: 'Courier Prime', monospace;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
    padding: 0 var(--gap);
    max-width: var(--maxWidth);
}

.logo {
    flex: 1;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    gap: 30px;
    flex: 1;
    text-wrap: nowrap;
    margin-inline-start: 0px;
}

a {
    text-decoration: none;
    color: greenyellow;
}

a:hover {
    color: rgb(255, 255, 255);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4vw 10px 4vw;
}

.footer {
    display: flex;
    align-content: center;
    justify-content: center;
    flex: 1;
}