@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

html {
    height: 100%;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    color: white;
    font-family: 'Courier Prime', monospace;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 5vw;
    flex: 1;
    padding: 0;
}

a {
    text-decoration: none;
    color: greenyellow;
}

a:hover {
    color: rgb(255, 255, 255);
}

.header-container, .section-two-container {
    background-color: rgb(67, 74, 74);
    display: flex;
    justify-content: center;
    width: 100%;
}

.header, .footer, .section-one, .section-two, .key-points {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
    width: 100%;
    padding: 0 5%;
}

.header {
    background-color: rgb(67, 74, 74);
}

.logo {
    flex: 1;
    font-size: 20px;
    font-weight: 900;
}

.section-one, .section-two {
    gap: 40px;
    padding: 5% 5%;
}

.text-block, .section-one-image {
    flex: 1;
}

button {
    padding: 10px 50px;
    border-radius: 10px;
    font-family: 'Courier Prime', monospace;
}

.button1 {
    background-color: white;
    font-weight: 900;
    border: 4px solid black;
}

.button1:hover {
    background-color: black;
    font-weight: 900;
    color: #adff2f;
    border-color: greenyellow;
}

.point {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.key-points {
    flex-wrap: nowrap;
    gap: 30px;
    text-align: center;
    display: flex;
    align-items: flex-start;
}

.point-pic {
    max-width: 200px;
    height: auto;
    border-radius: 20px;
    border: 4px solid white;
}