@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

html {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    color: white;
    font-family: 'Courier Prime', monospace;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    padding: 0 2rem;
    max-width: 1500px;
    margin: 0 auto;
}

.logo {
    flex: 1;
    font-size: 20px;
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    flex: 1;
    padding: 0;
}

a {
    text-decoration: none;
    color: greenyellow;
}

a:hover {
    color: rgb(255, 255, 255);
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 4vw 10px 4vw;
}